.headermenu {
  display: flex;
  flex-direction: row;
  padding: 3% 5% 5% 15%;
}

.headermenu label {
  padding-left: 10px;
  padding-top: 5px;
  font-size: medium;
}

.createnew {
  padding-left: 7rem;
}
.topbar {
  padding-left: 3%;
  padding-top: 1%;
}
